<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/HEAD.ejs")%>
    <script defer src="/public/js/community.js"></script>
    <title>Code:Me COMMUNITY</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs") %>
    <div class="container">
      <h2>Community</h2>
      <div>sort by : New Popular</div>
      <ul class="articleWrapper">
        <%locals.datas.forEach((data)=>{ %> <%-
        include("./components/POST.ejs",{data})%> <%})%>
      </ul>
      <div class="pageNation">
        <ul>
          <li id="prePageBtn">PREV</li>
          <%for(let i = 1 ; i<=5;i++){%>
          <a href="/community/community/<%=i%>"><li><%=i%></li></a>
          <%}%>
          <li id="nextPageBtn">NEXT</li>
        </ul>
        <%if(locals.isLoggedIn===true){%>
        <a href="/community/writeArticle"><button>Write a Post</button></a>
        <%}else{%>
        <a href="/user/login"><button>Write a Post</button></a>
        <%}%>
      </div>
    </div>
  </body>
</html>
